<div class="modal-overlay">
  <!----------------MODAL---------------------->
  <div class="template-modal" tabindex="-1" role="dialog">
    <!-- <div class="template-modal-dialog" role="document"> -->
      <div class="template-modal-content">
        <!-- modal header -->
        <div class="template-modal-header">
          <h2 class="template-modal-title"><%= modalTitle %></h2>
          <button type="button" class="close">
            <span><img class="icons close" src="/img/xmark.png" alt=""></span>
          </button>
        </div>
        <!-- modal-body -->
        <div class="template-modal-body">
          <%- include('eventmodalbody') -%>
          
        </div> 
      </div>
      <!-- modal-footer -->
      <div class="template-modal-footer">
        <div class="button-group">
          <button type="button" class="tertiary-button cancel" >Cancel</button>
          <button type="submit" class="primary-button save-changes">Save Changes</button>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>