<div class="saved-plans">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th class="actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-plan-name">Data 1</td>
          <td class="actions">
            <div class="edit"><i id="edit" class="bi bi-pencil"></i>Edit</div>
            <img class="line" src="/img/line.png" alt="">
            <div class="delete">Delete</div>
          </td>
        </tr>
        <tr>
          <td class="table-plan-name">Data 4</td>
          <td class="actions">
            <div class="edit"><i id="edit" class="bi bi-pencil"></i>Edit</div>
            <img class="line" src="/img/line.png" alt="">
            <div class="delete">Delete</div>
          </td>
        </tr>
      </tbody>
    </table>
</div>