<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- METADATA -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

    <!-- FRAMEWORKS -->
    <!-- <link href="bootstrap-5.3.2-dist/css/bootstrap.css" rel="stylesheet" />
    <script src="bootstrap-5.3.2-dist/js/bootstrap.bundle.js"></script> -->

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/modal.css" />

    <!-- CUSTOM SCRIPTS -->
    <script defer src="js/script.js"></script>

    <title>Modern Nomad Travel App</title>
  </head>
  <body>
    <!-- <div class="container-fluid outer"> -->
    <%- include('partials/navigation/topbar') -%>
    <!-- <div class="row justify-content-start gx-10">
        <div class="col-3"> -->
    <%- include('partials/navigation/leftnav') -%>
    <!-- </div> -->
    <!-- <div class="col-9"> -->
    <%- body %>
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->

