<!-- <div class="page-header">
  <h1>My Plans</h1>
</div> -->
<!-- <%- include('partials/emptystate') -%> -->
<!-- <%- include('partials/plan-table') -%> -->

<button id="openModalButton">Open Modal</button>


<!-- Modal -->
<div>

<!-- modal -->
<div class="template-modal" tabindex="-1" role="dialog">
  <!-- <div class="template-modal-dialog" role="document"> -->
    <div class="template-modal-content">
      <!-- modal header -->
      <div class="template-modal-header">
        <h2 class="template-modal-title">Add Event</h2>
        <button type="button" class="close" aria-label="Close">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <!-- modal-body -->
      <div class="template-modal-body">
        <%- include('partials/eventmodalbody') -%>
        
      </div> 
    </div>
    <!-- modal-footer -->
    <div class="template-modal-footer">
      <div class="button-group">
        <button type="button" class="tertiary-button" >Cancel</button>
        <button type="button" class="primary-button">Save changes</button>
      </div>
    </div>
  <!-- </div> -->
</div>

</div>