<div class="page-header">
  <h1>My Plans</h1>
</div>
<div class="emptystate-container">
  <img id="emptystateimage" src="img/launch_emptystateimage.png" alt="plan-empty-state" />
  <div class="emptystate-copy">
    <h4>No Travel Plans</h4>
    <p>Plan your perfect stree-free trip. Create a travel plan.</p>
  </div>  
  <a href="/travelplan" class="secondary-button"><i class="bi bi-plus-lg" ></i></i>New Plan</a>
</div>
