<%- include('partials/header') -%>
<div><%- include('partials/navigation/breadcrumbs') -%></div>
<div class="body-container">
  <h1>Favorite Plans</h1>
  <p>Future release</p>
</div>

<%- include('partials/footer') -%>
