<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="bootstrap-icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <script defer src="js/script.js"></script>
    <title>Modern Nomad Travel App</title>
  </head>
  <body>
    <div class="container-fluid outer">
      <%- include('partials/navigation/topbar') -%>
      <div class="row justify-content-start gx-10">
        <div class="col-3"><%- include('partials/navigation/leftnav') -%></div>
        <div class="col-9"><%- body %></div>
      </div>
    </div>
  </body>
</html>
