  <%- include('partials/header') -%>
<!-- <h1>My Plans / New</h1> -->
<div>
  <%- include('partials/navigation/breadcrumbs') -%>
</div>
<div class="body-container">
  <div class="left-section">
<!--  FORM START  -->
<!--    action=noun | method=verb -->
<!--   Create Read Update Delete   -->
    <form class="plan-details" action="/travelplans" method="POST">
      <!-- Travel Plan Name -->
      <label for="planName">Plan Name</label>
      <input type="text" id="planName" name="planName" required />

      <!-- Location -->
      <label for="location">Location</label>
      <input type="text" id="location" name="location" required />

      <!-- Description -->
      <label for="description">Description</label>
      <textarea id="description" name="description" rows="4" required></textarea>
      <input type="submit" value="Submit"/>
    </form>
      <div class="schedule-section">
      <h3>Schedule</h3>

      <!-- Add Event Button -->
        <button class="tertiary-button" type="button" id="addEventButton"><i class="bi bi-plus-lg" ></i></i>Add Event</button>
        <%- include('partials/modal-layout', { modalTitle: 'Add Event'}) -%>
        <!-- Event List -->
        <ul id="eventList"></ul>
      </div>
      <!-- Save Button -->
      <button class="primary-button" type="submit">Save</button>
  </div>
  <div class="right-section">
    <div class="google-maps">

    </div>
    <div class="weather">

    <!-- Event List -->
    <ul id="eventList"></ul>


  <!-- Event Listener -->
  <ul id="eventList"></ul>

<form action = "/createnewplan" method="POST">
  <label for="name">Plan Name: </label>
  <input type="text" name="name" id="name" required />
  <label for="location">Location: </label>
  <input type="text" name="location" id="location" required />
  <label for="description">Description: </label>
  <textarea name="description" id="description" required />
</form> 

  <!-- Save Button -->
  <button type="submit">Save</button>
</form>

    </div>
  </div>
</div>
  <%- include('partials/footer') -%>