<!-- <h1>My Plans / New</h1> -->
<div>
  <%- include('partials/navigation/breadcrumbs') -%>
</div>
<div class="body-content">
  <form action="/create-plan" method="POST">
    <!-- Travel Plan Name -->
    <label for="planName">Plan Name:</label>
    <input type="text" id="planName" name="planName" required />

    <!-- Location -->
    <label for="location">Location:</label>
    <input type="text" id="location" name="location" required />

    <!-- Description -->
    <label for="description">Description:</label>
    <textarea id="description" name="description" rows="4" required></textarea>

    <h2>Schedule</h2>

    <!-- Add Event Button -->
    <button type="button" id="addEventButton">Add Event</button>

    <!-- Event List -->
    <ul id="eventList"></ul>

<<<<<<< HEAD
    <!-- Save Button -->
    <button type="submit">Save</button>
  </form>
</div>
=======
  <!-- Event Listener -->
  <ul id="eventList"></ul>

<form action = "/createnewplan" method="POST">
  <label for="name">Plan Name: </label>
  <input type="text" name="name" id="name" required />
  <label for="location">Location: </label>
  <input type="text" name="location" id="location" required />
  <label for="description">Description: </label>
  <textarea name="description" id="description" required />
</form> 

  <!-- Save Button -->
  <button type="submit">Save</button>
</form>
>>>>>>> 4453c76 (trip plan v2)
