<!-- <h1>My Plans / New</h1> -->
<div>
  <%- include('partials/navigation/breadcrumbs') -%>
</div>
<div class="body-container">
  <div class="left-section">
    <form class="plan-details" action="/create-plan" method="POST">
      <!-- Travel Plan Name -->
      <label for="planName">Plan Name</label>
      <input type="text" id="planName" name="planName" required />

      <!-- Location -->
      <label for="location">Location</label>
      <input type="text" id="location" name="location" required />

      <!-- Description -->
      <label for="description">Description</label>
      <textarea id="description" name="description" rows="4" required></textarea>
    </form>
      <div class="schedule-section">
      <h3>Schedule</h3>

      <!-- Add Event Button -->
        <button class="tertiary-button" type="button" id="addEventButton"><i class="bi bi-plus-lg" ></i></i>Add Event</button>
        
        <!-- Event List -->
        <ul id="eventList"></ul>
      </div>
      <!-- Save Button -->
      <button class="primary-button" type="submit">Save</button>
  </div>
  <div class="right-section">
    <div class="google-maps">

    </div>
    <div class="weather">

    </div>
  </div>
</div>
