.template-modal{
    width: 640px;
    border-radius: 24px;
    border: 1px solid var(--black-100, #E7E7E7);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.template-modal-content{
    padding: 24px
}
.template-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding-bottom: 32px;
}

h2 {
    color: var(--black-950, #050505);
    font-size: 28px;
    font-weight: 600;
    line-height: 32px; 
    margin: 0px;
}
.close {
    border: none;
    background-color: white;
    height: 32px;
    width: 32px;
    padding: 0px
}

.template-modal-body{
    display: flex;
    flex-direction: column;
}
.datetime-group{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.datetime{
    display: flex;
    flex-direction: column;
}

.date{
    width: 240px;
}

.time{
    width: 160px;
}


.template-modal-footer{
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    border-radius: 0px 0px 24px 24px;
    border-top: 1px solid var(--black-100, #E7E7E7);
}

.button-group{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}

.tertiary-button {
    font-weight: 600;
}

.tertiary-button:hover {
    text-decoration: underline;
}



/* -------------specific modal body  */
.events-modal-body{
    display: flex;
    flex-direction: column;
}