:root {
  --bg-grey: #f6f6f6;
  --bg-grey-hover: #e7e7e7;
  --bg-purple: #2D3682;
}
.bi::before {
  display: inline-block;
  /* padding-right: 0.75rem; */
}

body{
  font-family: 'Outfit', sans-serif;
  color: #050505;
  margin: 72px 0px 0px 296px;  
  height: calc(100vh - 72px);
  width: calc(100vw - 296px);
}

#emptystateimage {
  height: 208px;
}
.page-header{
  display: flex;
  width: 100%;
  padding: 24px 32px;
  align-items: center;
  position: fixed;
  }

h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin: 0px

}
h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin: 0px;
}

p{
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0px
}
.emptystate-container{
  /* margin-top: 108px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 160px;
}

.emptystate-copy{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label,
input,
textarea {
  margin: 5px 0;
}
h2,
ul {
  margin-top: 20px;
}
/* ------------------ BUTTON */
.primary-button {
  background-color: gold;
  border-radius: 24px;
  border: none;
  cursor: pointer;
}
.secondary-button {
  display: flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  border-radius: 24px;
  background: var(--black-100, #E7E7E7);
  border: none;
  cursor: pointer;
  color: var(--black-950, #050505);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
}




.outer {
  margin: 20px;
}

/* ------------------ TOP NAV */
/* .topbar {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
} */
/* .explore {
  display: inline-block;
  grid-column-start: 11;
  text-align: right;
} */
/* .logo {
  display: inline-block;
  grid-column-start: 1;
} */
#topbar{
  border-bottom: 1px solid var(--black-100, #E7E7E7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* Set the background color as needed */
  z-index: 100;
}
.topbar{
  display: flex;
  width: 100%;
  padding: 16px 32px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 72px
}

.brand-logo{
  display: flex;
  align-items: center;
  gap: 8px;
}
.planelogo{
  width: 40px;
  height: 40px;
}

.brand-copy{
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px; 
  -webkit-text-stroke-width: 2px;
}

#globeicon.bi.bi::before{
 padding: 0;
}

.right-section{
  display: flex;
  align-items: center;
  gap: 32px;
}

.explore{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0px;
}

.user {
  background: var(--bg-purple);
  border-radius: 100%;
  color: white;
  width: 32px;
  height: 32px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}

.user-wrap {
  text-align: left;
} 

/* ------------------ LEFT NAV */
#leftNav {
  border-right: 1px solid var(--black-100, #E7E7E7);
  background: var(--black-50, #F6F6F6);
  height: 100vh;
  padding-top: 32px;
  position: fixed;
  top: 72px;
  left: 0px;
  width: 296px;
}


/* button */
#button-container{
  display: flex;
  padding: 0px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  
}

.new-plan {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  color: var(--black-950, #050505);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

ul {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  margin: 32px 32px 0px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

#leftNav li.left-nav-item {
  display: flex;
  padding: 12px 24px 12px 40px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 0px 24px 24px 0px;
}

#leftNav li.left-nav-item:hover {
  background: var(--bg-grey-hover);
  transition: background-color 0.3s;
} 



/*
#leftNav li.left-nav-item {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  cursor: pointer;
  display: block;
  margin: 30px 30px 0 0;
  padding: 10px 0 10px 25px;
  transition: background-color 0.3s;
}

#leftNav li.left-nav-item:hover {
  background: var(--bg-grey-hover);
  transition: background-color 0.3s;
} */
