/* CSS VARS */

:root {
  --bg-grey: #f6f6f6;
  --bg-grey-hover: #e7e7e7;
  --bg-purple: #2d3682;
}

/* ICONS */
.bi::before {
  display: inline-block;
  /* padding-right: 0.75rem; */
}

/* MAIN CSS */
body {
  font-family: 'Outfit', sans-serif;
  color: #050505;
  margin: 72px 0px 0px 296px;
  height: calc(100vh - 72px);
  width: calc(100vw - 296px);
}

#emptystateimage {
  height: 208px;
}
.page-header {
  display: flex;
  width: 100%;
  padding: 24px 32px;
  align-items: center;
  position: fixed;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin: 0px;
}
h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin: 0px;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0px;
}
.emptystate-container,
.saved-plans {
  /* margin-top: 108px; */
  display: flex;
  flex-direction: column;
}

/* table css */
.saved-plans {
  padding: 112px 32px 0px 32px;
}

thead {
  background: #fff;
}

th {
  color: var(--black-800, #454545);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 12px 16px 12px 16px;
  border-bottom: 1px solid var(--black-300, #b0b0b0);
}

td {
  color: 1px solid var(--black-100, #e7e7e7);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  padding: 20px 16px 20px 16px;
  border-bottom: 1px solid var(--black-100, #e7e7e7);
}
.table-plan-name {
  width: 400px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: right;
}

.edit {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.line {
  height: 16px;
}

.delete {
  color: var(--guardsman-red-700, #db0000);
}

.emptystate-container {
  gap: 24px;
  padding-top: 160px;
  align-items: center;
}

.emptystate-copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

/* ------------------ BUTTON */
.primary-create-button {
  background: var(--saffron-400, #fcdd23);
  border-radius: 24px;
  border: none;
  cursor: pointer;
}

.primary-create-button:hover {
  background: var(--saffron-500, #f6c113);
}

.primary-button,
.secondary-button {
  display: flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-decoration: none;
}
.primary-button {
  background: var(--saffron-400, #fcdd23);
  color: var(--black-950, #050505);
}

.primary-button:hover {
  background: var(--saffron-500, #f6c113);
}

.secondary-button {
  background: var(--black-100, #e7e7e7);
  color: var(--black-950, #050505);
}

.secondary-button:hover {
  background: var(--black-200, #d1d1d1);
}

.tertiary-button {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  border: none;
  padding: 0px;
  background: white;
  color: #5d5d5d;
}

.outer {
  margin: 20px;
}
/* BREADCRUMBS */
#breadcrumbs ul.breadcrumbs {
  /* border-bottom:1px solid var(--bg-grey-hover); */
  display: flex;

  flex-direction: row;
  gap: 15px;
  justify-content: flex-start;
  margin: 0;
  min-height: 30px;
  /* padding:15px 20px; */
}
ul.breadcrumbs li {
  flex-direction: row;
}
ul.breadcrumbs li:after {
  display: inline-block;
  margin-left: 10px;
  content: '|';
}
ul.breadcrumbs li:last-of-type:after {
  display: none;
}
ul.breadcrumbs li a {
  color: black;
  text-decoration: none;
}
ul.breadcrumbs li a:hover {
  color: black;
  /* text-decoration: underline; */
}

/* ------------------ BREADCRUMBS */
#breadcrumbs {
  padding: 16px 32px 16px 32px;
}

ul.breadcrumbs {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}

.current {
  font-weight: 600;
}

/* ------------------ TOP NAV */
/* .topbar {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
} */
/* .explore {
  display: inline-block;
  grid-column-start: 11;
  text-align: right;
} */
/* .logo {
  display: inline-block;
  grid-column-start: 1;
} */
#topbar {
  border-bottom: 1px solid var(--black-100, #e7e7e7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* Set the background color as needed */
  z-index: 1;
}
.topbar-inner {
  display: flex;
  width: 100%;
  padding: 0 32px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.brand-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.planelogo {
  width: 40px;
  height: 40px;
}

.brand-copy {
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  -webkit-text-stroke-width: 2px;
}

#globeicon.bi.bi::before {
  padding: 0;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 32px;
}

.explore,
.back {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.user {
  background: var(--bg-purple);
  border-radius: 100%;
  color: white;
  width: 32px;
  height: 32px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}

.user-wrap {
  text-align: left;
}

/* ------------------ LEFT NAV */
#leftNav {
  border-right: 1px solid var(--black-100, #e7e7e7);
  background: var(--black-50, #f6f6f6);
  height: 100vh;
  padding-top: 32px;
  position: fixed;
  top: 72px;
  left: 0px;
  width: 296px;
}

/* button */
#button-container {
  display: flex;
  padding: 0px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.new-plan {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  color: var(--black-950, #050505);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.navigation-menu {
  margin: 32px 32px 0px 0px;
  padding-left: 0;
}

#leftNav li.left-nav-item {
  display: flex;
  padding: 12px 24px 12px 40px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 0px 24px 24px 0px;
}

#leftNav li.left-nav-item:hover {
  background: var(--black-200, #d1d1d1);
  transition: background-color 0.3s;
}

.active-nav-button {
  background: var(--black-100, #e7e7e7);
  font-weight: 600;
}

/*
#leftNav li.left-nav-item {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  cursor: pointer;
  display: block;
  margin: 30px 30px 0 0;
  padding: 10px 0 10px 25px;
  transition: background-color 0.3s;
}

#leftNav li.left-nav-item:hover {
  background: var(--bg-grey-hover);
  transition: background-color 0.3s;
} */

/* ------------------ TRAVEL PLAN */
.body-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  padding: 24px 32px 24px 32px;
}
.left-section {
  grid-column: 1 / span 8;
}

.plan-details {
  display: grid;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--black-100, #e7e7e7);
}

input,
textarea,
label {
  grid-column: span 8;
}

label {
  margin-bottom: 2px;
  font-weight: 600;
}

input,
textarea {
  border: 1px solid var(--black-600, #5d5d5d);
  border-radius: 24px;
  padding: 4px 16px 4px 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: var(--black-900, #3d3d3d);
}
input {
  height: 32px;
  margin-bottom: 12px;
}

textarea {
  height: 160px;
}

.schedule-section {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.right-section {
  grid-column: 9 / span 4;
}

.google-maps {
  grid-column: 9 / span 4;
  height: 360px;
  background-color: #5d5d5d;
}
