<nav id="leftNav">
  <div id="button-container">
    <button class="primary-create-button new-plan"><i class="bi bi-plus-lg" ></i></i>New Plan</button>
  </div>  
  <ul class="navigation-menu">
    <li class="left-nav-item lnav-plans"><i class="bi bi-bag-dash"></i><a href="/">Dashboard</a></li>
    <li class="left-nav-item lnav-plans"><i class="bi bi-clipboard"></i><a href="/myplans">My Plans</a></li>
    <li class="left-nav-item lnav-recent"><i class="bi bi-clock"></i><a href="/recentplans">Recent</a></li>
    <li class="left-nav-item lnav-favorite"><i class="bi bi-heart"></i><a href="/favoriteplans">Favorites</a></li>
    <li class="left-nav-item lnav-shared"><i class="bi bi-people"></i><a href="/sharedplans">Shared</a></li>
    <li class="left-nav-item lnav-trash"><i class="bi bi-trash"></i><a href="/trashedplans">Trash</a></li>
  </ul>
</nav>

