<nav id="leftNav">
  <div id="button-container">
    <button class="primary-create-button new-plan"><i class="bi bi-plus-lg" ></i></i>New Plan</button>
  </div>  
  <ul class="navigation-menu">
    <li class="left-nav-item lnav-plans"><i class="bi bi-clipboard"></i>My Plans</li>
    <li class="left-nav-item lnav-recent"><i class="bi bi-clock"></i>Recent</li>
    <li class="left-nav-item lnav-favorite"><i class="bi bi-heart"></i>Favorites</li>
    <li class="left-nav-item lnav-shared"><i class="bi bi-people"></i>Shared</li>
    <li class="left-nav-item lnav-trash"><i class="bi bi-trash"></i>Trash</li>
  </ul>
</nav>

