<nav id="leftNav">
  <div id="button-container">
    <button class="primary-create-button new-plan"><span><img src="/img/plus-dark.png" alt="" class="icons plus"></span>New Plan</button>
  </div>  
  <ul class="navigation-menu">
    <li class="left-nav-item lnav-plans"><span><img src="/img/clipboard-list-check.png" alt="" class="icons clipboard"></span>My Plans</li>
    <li class="left-nav-item lnav-recent"><span><img src="/img/clock-five.png" alt="" class="icons recent"></span>Recent</li>
    <li class="left-nav-item lnav-favorite"><span><img src="/img/heart.png" alt="" class="icons favorite"></span>Favorites</li>
    <li class="left-nav-item lnav-shared"><span><img src="/img/user-group.png" alt="" class="icons shared"></span>Shared</li>
    <li class="left-nav-item lnav-trash"><span><img src="/img/trash-can.png" alt="" class="icons trash"></span>Trash</li>
  </ul>
</nav>

