<nav id="leftNav">
  <div id="button-container">
    <button class="primary-create-button new-plan"><a class="create-group" href="/newtravelplan"><span><img src="/img/plus-dark.png" alt="" class="icons plus"></span>New Plan</a></button>
  </div>  
  <ul class="navigation-menu">
    <li class="left-nav-item lnav-plans">
      <a href="/" class="menu-group">
        <span><img src="/img/clipboard-list-check.png" alt="" class="icons clipboard"></span>My Plans
      </a>
    </li>
    <li class="left-nav-item lnav-recent">
      <a href="/recent" class="menu-group">
        <span><img src="/img/clock-five.png" alt="" class="icons recent"></span>Recent
      </a>
    </li>
    <li class="left-nav-item lnav-favorite">
      <a href="/favorite" class="menu-group">
        <span><img src="/img/heart.png" alt="" class="icons favorite"></span>Favorites
      </a>
    </li>
    <li class="left-nav-item lnav-shared">
      <a href="/users" class="menu-group">
        <span><img src="/img/user-group.png" alt="" class="icons shared"></span>Users
      </a>
    </li>
    <li class="left-nav-item lnav-trash">
      <a href="/trash" class="menu-group">
        <span><img src="/img/trash-can.png" alt="" class="icons trash"></span>Trash
      </a>
    </li>
  </ul>
</nav>

