<nav id="leftNav">
  <button class="new-plan"><i class="plus"></i>New Plan</button>
  <ul>
    <li class="left-nav-item lnav-plans"><i class="bi bi-clipboard"></i>My Plans</li>
    <li class="left-nav-item lnav-recent"><i class="bi bi-clock"></i>Recent</li>
    <li class="left-nav-item lnav-favorite"><i class="bi bi-heart"></i>Favorites</li>
    <li class="left-nav-item lnav-shared"><i class="bi bi-people"></i>Shared</li>
    <li class="left-nav-item lnav-trash"><i class="bi bi-trash"></i>Trash</li>
  </ul>
</nav>
