<section id="topbar">
  <div class="row">
    <div class="topbar">
      <figure class="logo"><img src="img/logo.webp" alt="Modern Nomad Travel App" /></figure>
      <div class="explore"><i class="bi bi-globe2"></i> Explore</div>
      <div class="user-wrap">
        <div class="user">U</div>
      </div>
    </div>
  </div>
</section>
