<section id="topbar">
    <div class="topbar">
      <div class="brand-logo">
        <img class="planelogo" src="/img/planelogo.png" alt="Modern Nomad Travel App" />
        <p class="brand-copy">Nomad</p>
      </div>
      <div class="right-section">
        <div class="explore"><span><img src="/img/globe.png" alt="" class="icons globe"></span> Explore</div>
        <div class="user-wrap">
          <div class="user">J</div>
      </div>
    </div>
</section>
