<section id="topbar">
    <div class="topbar-inner">
      <div class="brand-logo">
        <img class="planelogo" src="/img/planelogo.png" alt="Modern Nomad Travel App" />
        <p class="brand-copy">Nomad</p>
      </div>
      <div class="right-section">
        <div class="explore"><i id="globeicon" class="bi bi-globe2"></i> Explore</div>
        <div class="user-wrap">
          <div class="user">J</div>
      </div>
    </div>
</section>
