<nav id="leftNav">
<button class="new-plan"><i class="plus"></i>New Plan</button>
<ul class="left-nav">
  <li class="left-nav-item lnav-plans"><i class="clipboard"></i>My Plans</li>
  <li class="left-nav-item lnav-recent"><i class="clock"></i>Recent</li>
  <li class="left-nav-item lnav-favorite"><i class="heart"></i>Favorites</li>
  <li class="left-nav-item lnav-shared"><i class="user-group"></i>Shared</li>
  <li class="left-nav-item lnav-trash"><i class="trash-can"></i>Trash</li>
</ul>
</nav>